@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-bg-color: theme(colors.bg-light);
    --secondary-bg-color: theme(colors.bg-light-2);
    --primary-text-color: theme(colors.text-light);
    --primary-border-color: theme(colors.border-light);
    --form-color-red: theme(colors.red.400);
    --form-color-shadow: theme(colors.shadow-light);
    --form-color-white: theme(colors.white);
}

@layer base {
    
    body {
        @apply bg-bg-light text-text-light dark:bg-bg-dark dark:text-text-dark
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-bold
    }

    h1 {
        @apply text-4xl sm:text-5xl md:text-5xl lg:text-6xl
    }

    h2 {
        @apply text-3xl sm:text-4xl
    }

    li {
        @apply cursor-pointer
    }
}

@layer components {

    .segment {
        text-shadow: 1px 1px 1px var(--form-color-white);
    }

    .segment-no-shadow {
        text-shadow: none;
    }

    .button .input {
        border: 0;
        outline: 0;
        font-size: 1rem;
        padding: 1rem;
        background-color: var(--primary-bg-color);
    }

    .button {
        color:#61677C;
        font-weight: bold;
        box-shadow: -5px -5px 20px var(--form-color-white),  5px 5px 20px var(--form-color-shadow);
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        font-weight: 600;
    }

    .button-hover {
        box-shadow: -2px -2px 5px var(--form-color-white), 2px 2px 5px var(--form-color-shadow);
    }

    .button-active {
        box-shadow: inset 1px 1px 2px var(--form-color-shadow), inset -1px -1px 2px var(--form-color-white);
    }

    .input {
        margin-right: 0.5rem;
        box-shadow: inset 2px 2px 5px var(--form-color-shadow), inset -5px -5px 10px var(--form-color-white);
        width: 100%;
        box-sizing: border-box;
        transition: box-shadow 0.2s ease-in-out;
        appearance: none;
    }

    .input-focus {
        outline: none;
        box-shadow: inset 1px 1px 2px var(--form-color-shadow), inset -1px -1px 2px var(--form-color-white);
    }

    .skill {
        box-shadow: -5px -5px 20px var(--form-color-white), 5px 5px 20px var(--form-color-shadow);
    }

    #skillcontainer:hover > #image {
        transform: scale(1.2);
        opacity: 0;
    }

    #skillcontainer:hover > #info {
        opacity: 1;
    }

    .background, .foreground {
        z-index: -1;
    }

    .background {
        transform: translateZ(-15px) scale(2.5);
    }

    .foreground {
        transform: translateZ(-10px) scale(2);
    }

    .foreground-closer {
        transform: translateZ(-5px) scale(1.5);
    }

    #main-wrapper {
        perspective: 10px;
        perspective-origin: center;
    }

    .parallax-wrapper {
        transform-style: preserve-3d;
        z-index: -1;
    }

    .image-dark {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(44deg) brightness(103%) contrast(101%);
    }
}

@layer utilities {
    ::-webkit-scrollbar {
        width: 0.9rem;
    }
      
    /* Track */
    ::-webkit-scrollbar-track {
        @apply bg-text-dark dark:bg-text-dark;
        /* border-radius: 15px; */
    }
      
    /* Handle */
    ::-webkit-scrollbar-thumb {
        @apply bg-shadow-dark dark:bg-text-light;
        border-radius: 15px;
    }
}