@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-bg-color: #EBECF0;
    --secondary-bg-color: rgb(209, 214, 222);
    --primary-text-color: #1d3145;
    --primary-border-color: rgb(244 244 245);
    --form-color-red: #AE1100;
    --form-color-bg: #EBECF0;
    --form-color-shaddow: #BABECC;
    --form-color-white: #FFF;
}

@layer base {
    
    body {
        @apply bg-[var(--primary-bg-color)]  text-[var(--primary-text-color)]
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-bold
    }

    h1 {
        @apply text-4xl sm:text-5xl md:text-5xl lg:text-6xl
    }

    h2 {
        @apply text-3xl sm:text-4xl
    }

    li {
        @apply cursor-pointer
    }
}

@layer components {

    .segment {
        text-shadow: 1px 1px 1px var(--form-color-white);
    }

    .button .input {
        border: 0;
        outline: 0;
        font-size: 1rem;
        padding: 1rem;
        background-color: var(--form-color-bg);
        text-shadow: 1px 1px 0 var(--form-color-white);
    }

    .button {
        color:#61677C;
        font-weight: bold;
        box-shadow: -5px -5px 20px var(--form-color-white),  5px 5px 20px var(--form-color-shaddow);
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        font-weight: 600;
    }

    .button-hover {
        box-shadow: -2px -2px 5px var(--form-color-white), 2px 2px 5px var(--form-color-shaddow);
    }

    .button-active {
        box-shadow: inset 1px 1px 2px var(--form-color-shaddow), inset -1px -1px 2px var(--form-color-white);
    }

    .input {
        margin-right: 0.5rem;
        box-shadow: inset 2px 2px 5px var(--form-color-shaddow), inset -5px -5px 10px var(--form-color-white);
        width: 100%;
        box-sizing: border-box;
        transition: all 0.2s ease-in-out;
        appearance: none;
    }

    .input-focus {
        outline: none;
        box-shadow: inset 1px 1px 2px var(--form-color-shaddow), inset -1px -1px 2px var(--form-color-white);
    }

    .skill {
        box-shadow: -5px -5px 20px var(--form-color-white), 5px 5px 20px var(--form-color-shaddow);
    }

    #skillcontainer:hover > #image {
        transform: scale(1.2);
        opacity: 0;
    }

    #skillcontainer:hover > #info {
        opacity: 1;
    }

    .background, .foreground {
        z-index: -1;
    }

    .background {
        transform: translateZ(-15px) scale(2.5);
    }

    .foreground {
        transform: translateZ(-10px) scale(2);
    }

    .foreground-closer {
        transform: translateZ(-5px) scale(1.5);
    }

    #main-wrapper {
        perspective: 10px;
        perspective-origin: center;
    }

    .parallax-wrapper {
        transform-style: preserve-3d;
        z-index: -1;
    }
}

@layer utilities {
    ::-webkit-scrollbar {
        width: 0.9rem;
    }
      
    /* Track */
    ::-webkit-scrollbar-track {
        background: rgb(255 255 255 / 60%);
        border-radius: 15px;
    }
      
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: var(--form-color-shaddow);
        border-radius: 15px;
    }
}